:root {
  --background: #060B12;
  --foreground: #ffffff;
  --foreground-35: rgba(255,255,255,.35);
  --foreground-gray: #D9D9D9;
  --accent: 103, 203, 255;
  --feature-border: #053E76;
  --feature-background: #081424;
  --tag-background: #021734;
  --home-header-gradient: #0062a7; 
  --home-header-separator: #00b4ff;

  --red: #FF9494;
  --blue: #94D2FF;
  --yellow: #FFF494;
  --green: #96FF94;

  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: var(--max-width);
}