.header {
    position: relative;
    --height: 880px;
    height: var(--height);
    background: radial-gradient(
        circle calc(var(--height) * 1.25) at center bottom, 
        var(--home-header-gradient) 0%, 
        transparent 65%);
}

.header > .video {
    position: absolute;
    margin: 0 auto;
    inset: auto 0 0;
    background: #000;

    width: 1070px;
    height: 570px;
    --borderRadius: 30px;
    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
}

.header::after {
    content: '';
    background: linear-gradient(90deg, transparent 0%, var(--home-header-separator) 50%, transparent 100%);
    
    position: absolute;
    inset: auto 200px 0px;
    height: 2px;
}

.header > .logo {
    width: 512px;
    position: absolute;
    inset: 0;
    margin: 125px auto;
    z-index: 2;
}

.header > .buttons {
    position: absolute;
    width: fit-content;
    inset: auto 0 150px;
    margin: 0 auto;

    display: flex;
    gap: 50px;
}

.header > .buttons button {
    border-radius: 100px;
    padding: 15px 40px;

    background: var(--foreground);
    border: none;
    color: var(--background);
    cursor: pointer;
    user-select: none;
    
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;

    box-shadow: 0px 0px 50px rgb(var(--accent), .5);
}