.titleBox {
    margin: 70px auto;
    font-weight: 700;

    width: 100%;
    max-width: var(--max-width);

    display: flex;
    gap: 25px 5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleBox[data-sticky="true"] {
    position: sticky;
    top: -30px;
    background: var(--background);

    padding: 55px 0px;
    margin: 0px auto;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
}

.description {
    font-size: 1.3em;
    color: rgb(var(--accent));
}

.children {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.buttons {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

.button {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    cursor: pointer;
    user-select: none;
    
    border: solid 2px var(--feature-border);
    background: var(--feature-background);
    color: rgb(var(--accent));
    opacity: 1;
    transition: opacity .2s;
}

.button[data-disabled="true"] {
    opacity: 0.5;
}