.titleBox {
    margin: 70px auto;
    font-weight: 700;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
}

.description {
    font-size: 1.3em;
    color: rgb(var(--accent));
}

.children {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    user-select: none;
    
    border: solid 2px var(--feature-border);
    background: var(--feature-background);
    color: rgb(var(--accent));
    opacity: 1;
    transition: opacity .2s;
}

.button[data-disabled="true"] {
    opacity: 0.5;
}