.titleBox {
    margin: 70px auto;
    font-weight: 700;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
}

.description {
    font-size: 1.3em;
    color: var(--accent);
}

.children {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
}

.button {
    cursor: pointer;
    user-select: none;
}