.tag {
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
}